@model RVASIspit.Models.Sastojak

@{
    ViewBag.Title = "Sastojak Details";
}

<h2>Details</h2>

<div>
    <h4>Sastojak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazivSastojka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NazivSastojka)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SastojakID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
