@{
    ViewBag.Title = "Home Page";
}

<main>
    <div col>
        <h3 class="p-2">
            Admin: admin@raf.rs <br>
            Pass: Admin123!
        </h3>
        <h3 class="p-2">
            Korisnik: korisnik@raf.rs <br>
            Pass: Korisnik123!
        </h3>
        <h3 class="p-2">
            Gost može da vidi samo Proizvode, Korisnik može da vrši CRUD nad Klijentima, Admin CRUD nad svim tabelama.
        </h3>
    </div>

    <div class="container pt-2">
        <div class="row justify-content-center align-items-center">
            <div class="col-md text-center">
                <img src="~/Content/images/logo.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</main>