@{
    ViewBag.Title = "Home Page";
}

<main>
    <div col>
        <h3 class="p-2">
            Admin: admin@raf.rs / Admin123!
        </h3>
        <h3 class="p-2">
            Korisnik: korisnik@raf.rs / Korisnik123!
        </h3>
        <h3 class="p-2">
            Gost moze da vidi samo Proizvode, Korisnik moze da vrsi CRUD nad Klijentima, Admin CRUD nad sve tabele.
        </h3>
    </div>
</main>