@{
    ViewBag.Title = "Home Page";
}

<main>
    <div col>
        <h2 class="p-2 text-center">
            Poslastičarnica
        </h2>
        <h4 class="p-2">
            Admin: admin@raf.rs <br>
            Pass: Admin123!
        </h4>
        <h4 class="p-2">
            Korisnik: korisnik@raf.rs <br>
            Pass: Korisnik123!
        </h4>
        <h4 class="p-2">
            [Gost] može da vidi samo Proizvode, [Korisnik] može da vrši CRUD nad Zaposlenima, [Admin] CRUD nad svim tabelama.
        </h4>
    </div>

    <div class="container pt-2">
        <div class="row justify-content-center align-items-center">
            <div class="col-md text-center">
                <img src="~/Content/images/logo.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</main>